$global-transition: all 0.3s ease-in-out;
$global-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
$global-radius: 10px;
$global-rounded: 30px;
$global-padding: 16px;
$global-margin: 16px;

$container-width: 1600px;
$container-padding: 15px;

$brake-point-xs: 320;
$brake-point-sm: 768;
$brake-point-md: 1025;
$brake-point-lg: 1200;
